.field-wrapper {
  padding: 10px 0;

  .field {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-input {
      input {
        height: 30px;
        outline: none;
        padding: 0 10px;
        font-size: 15px;
        border-radius: 10px;
      }
    }
  }

  .error {
    text-align: right;
    color: red;
  }
}
